<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>
<body>
    <form>
        <label for="email">Email:-</label>
        <input type="text" name="email" id="forgetPasswordEmail" placeholder="email" required>
        <button type="button" onclick="resetLink()">Get OTP</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        async function resetLink(){

            obj={
                emailId:document.getElementById('forgetPasswordEmail').value
            }
            const result=await axios.post('http://13.235.83.111/password/forgotpassword',obj)
        }   
    </script>
</body>
</html>